.mainBoardButton {
    background: rgb(148, 148, 201);
    border: 1px solid #0424d4;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 68px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 68px;
    cursor: url('../../images/pointer.png'), pointer;
}

.neuroXOtest {
    background: rgb(148, 148, 201);
    border: 1px solid #0424d4;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.thinkBoardButton {
    background: red;
    border: 1px solid #999;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.minimaxBoard {
    background: cyan;
    border: 1px solid #999;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.neuroPredictions {
    background: lime;
    border: 1px solid #999;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.logBoardButton {
    background: grey;
    border: 1px solid #999;
    float: left;
    font-size: 8px;
    font-weight: bold;
    height: 17px;
    width: 17px;
    
}

.probBoardButton {
    background: grey;
    border: 1px solid #999;
    float: left;
    font-size: 6px;
    font-weight: bold;
    color: white;
    /* line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center; */
    height: 12px;
    width: 10px;
    
}