body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white; /* Set default text color to white */
}

.portrait {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 16px;
    height: 500px;
    width: 400px; 
    overflow: hidden;
    background-color: black;
    color: white; /* Set default text color to white */
    border: none;
    cursor: url('../../images/cursor.png'), auto;
    position: relative; /* Ensures that the clickable-area is positioned relative to this container */
}

.portrait .clickable-area {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    width: 60%; /* Adjust as needed */
    height: 90%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    pointer-events: auto;
    cursor: url('../../images/pointer.png'), pointer;
    z-index: 2;
  }

.slide-in-forwards {
    animation: slide-in-forwards 0.3s ease-out forwards;
}

.slide-in-backwards {
    animation: slide-in-backwards 0.3s ease-out forwards;
}

.slide-out-forwards {
    animation: slide-out-forwards 0.3s ease-out forwards;
}

.slide-out-backwards {
    animation: slide-out-backwards 0.3s ease-out forwards;
}

@keyframes slide-in-forwards {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out-forwards {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes slide-in-backwards {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out-backwards {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}