.highlightedButton {
  background-color: black;
  border-color: white;
  color: white; 
  font-family: 'Press Start 2P';
  src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  font-size: 22px;
}

.normalButton {
    background-color: black;
    border-color: rgb(76, 2, 2); 
    color: rgb(76, 2, 2); 
    font-family: 'Press Start 2P';
    src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
    font-size: 22px;
}

.audioSelectPage {
    background-color: black;
    height: 90vh;
    max-height: 90vh;  /* 100% of the viewport height */
    overflow: hidden;
    outline: 1px solid rgb(245, 6, 6) !important;
  }

  .buttonContainer {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px; /* Adjust this value according to your design */
    justify-items: center;
    align-content: center;
    max-height: 100vh;  /* 100% of the viewport height */
  overflow: hidden;
  }