.mainBoardButton {
    background: blue;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 68px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 68px;
}

.thinkBoardButton {
    background: red;
    border: 1px solid #999;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.logBoardButton {
    background: grey;
    border: 1px solid #999;
    float: left;
    font-size: 8px;
    font-weight: bold;
    /* line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center; */
    height: 17px;
    width: 17px;
    
}