

.array {
    font-family: 'Press Start 2P', cursive;
    list-Style-Type: '';
    display: flex;
    flex-wrap: wrap;
}

.array li {
    font-family: 'Press Start 2P', cursive;
    list-style-type: none;
    margin-right: 10px; 
    margin-bottom: 10px;
}