/* development.css */
/* * {
  outline: 1px solid red !important;
} */

#root {
  height: fit-content;
  width: 100vw;  /* 100% of the viewport width */
  /* height: 90vh; 100% of the viewport height */
  /* outline: 1px solid rgb(213, 245, 6) !important; */
}


/* .wholePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;      
  height: 100vh; 
  outline: 1px solid rgb(245, 6, 6) !important;
} */

.page {
  width: 100% ;
  height: 90vh; 
  /* box-sizing: border-box; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* outline: 1px solid rgb(245, 6, 6) !important; */
  
}

.twoColumns {
  width: 100% ;
  /* box-sizing: border-box; */
  place-items: center; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* outline: 1px solid rgb(245, 6, 6) !important; */
  padding: 20px;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.center {
  display: grid;
  place-items: center; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.threeBoards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100% ;
  padding-top: 10px;
  padding-bottom: 10px; 
  /* box-sizing: border-box; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* outline: 1px solid rgb(6, 58, 245) !important; */
}

.textList {
  width: 100% ;
  padding-top: 10px;
  padding-bottom: 10px; 
  /* box-sizing: border-box; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* outline: 1px solid rgb(221, 245, 6) !important; */
}



.twoRows {
  grid-template-rows: 1fr 1fr;
  /* place-items: center;  */
  align-items: center; /* Vertical centering */
  justify-content: center;
  gap: 20px; 
  /* height: 100%;  */
}

.gameshell, .threeRows {
  /* outline: 1px solid rgb(9, 241, 55) !important; */
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center; 
  height: 100%; 
}

.fourRows {
  /* outline: 1px solid rgb(241, 9, 210) !important; */
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  place-items: center; 
  height: 100%; 
}

.centered {
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: space-around;
  /* justify-content: center; */
}

.text-field {
  height: 80px; 
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center;
  gap: 20px;
  /* justify-content: center; */
  cursor: url('./images/cursor.png'), auto; 
  /* cursor: url('./images/pointer.png') 15 7, pointer; */
}

.intropage {
  background-color: black;
  height: 100vh;
  color: white; /* Set default text color to white */
  font-family: 'Press Start 2P';
  src: url('./fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  margin: 20px;
  padding: 0;
  margin: auto;
  display: grid;
  place-items: center;
}



.upButton {
  margin-left: 1px;
  background-color: transparent;
  width: 100/26%;; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  background-image: 
    linear-gradient(to bottom right, transparent 50%, rgb(0, 8, 255) 50%),
    linear-gradient(to top right, rgb(0, 8, 255)50%, transparent 50%);
  background-size: 50% 100%;
  background-position: 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  border-left: none;
  border-top: none; 
  border-right: none; 
  cursor: url('./images/side-pointer.png') 8 26, pointer;
}

.upButton.clicked {
  background-color: cyan;
}

.tenUpButton {
  margin-left: -3px;
  background-color: transparent;
  width: 150%;; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  background-image: url('./images/ffup.png'); 
  background-size: 50% 100%;
  background-position: 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  border-left: none;
  border-top: none; 
  border-right: none; 
  border-bottom: none; 
  cursor: url('./images/side-pointer.png') 8 26, pointer;
}

.tenUpButton.clicked {
  background-image: url('./images/ffupClicked.png'); 
}

.tenDownButton {
  margin-left: -3px;
  background-color: transparent;
  width: 150%;; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  background-image: url('./images/ffDown.png'); 
  background-size: 50% 100%;
  background-position: 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  border-left: none;
  border-top: none; 
  border-right: none; 
  border-bottom: none; 
  cursor: url('./images/side-pointer.png') 8 26, pointer;
}

.downButton {
  margin-left: 1px;
  background-color: transparent;
  width: 10; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  background-image: 
    linear-gradient(to top right, transparent 50%, rgb(0, 8, 255) 50%),
    linear-gradient(to bottom right, rgb(0, 8, 255) 50%, transparent 50%);
  background-size: 50% 100%;
  background-position: 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  border-left: none;
  border-top: none; 
  border-right: none; 
  border-bottom: none; 
  cursor: url('./images/side-pointer.png') 8 26, pointer;
}

.downButton.clicked {
  background-color: cyan;
}


.leftButton {
  border-left: none;
  background-color: black;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 20px solid blue; /* This colored border determines the base of the triangle */
  justify-self: end;
  cursor: url('./images/pointer.png') 15 7, pointer;
}

.rightButton {
  border-right: none;
  background-color: black;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 20px solid blue; /* This colored border determines the base of the triangle */
  justify-self: start;
  cursor: url('./images/pointer.png') 15 7, pointer;
}

.array {
  font-family: 'Press Start 2P', cursive;
  list-Style-Type: '';
  display: flex;
  flex-wrap: wrap;
}

.array li {
  font-family: 'Press Start 2P', cursive;
  list-style-type: none;
  margin-right: 10px; 
  margin-bottom: 10px;
}

.gamelog {
  width: 360px; 
  display: flex;
  flex-wrap: wrap; /* prevents wrapping */
  list-style: none; /* removes bullet points */
  overflow-x: auto; /* adds horizontal scroll if items overflow */
}

.board-row {
  display: flex;
  flex-wrap: nowrap;
}

.gamelog-item {
  margin-right: 20px; 
}

.logoContainer {
width: 100%; 
height: 100%; 
display: grid;
place-items: center;

}

.block-container {
  display: block;
}

* {
  box-sizing: border-box;
}

body, * {
  /* cursor: url('./images/cursor.png'), auto; */
}

body {
  background-color: black;
  color: white; /* Set default text color to white */
  font-family: 'Press Start 2P';
  src: url('./fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  /* margin: 20px; */
  padding: 0;
  animation: flicker 0.2s 7;
  /* cursor: url('./images/cursor.png'), auto; */
}

.inactive-pointer {
  pointer-events: none;

}

.inactive-pointer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: url('./images/hourglass-clipart-pixelized.png'), auto !important; 
  pointer-events:all;
  transition: cursor 0.50s ease;
}

.active-pointer{
  cursor: url('./images/cursor.png'), auto !important;
  /* pointer-events: auto; */
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

.idFacts, .gameshell{
  flex: 1;  
  min-width: 0;  
  word-wrap: break-word;
  /* overflow: hidden; */
}

.idFacts {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* outline: 1px solid rgb(6, 205, 245) !important; */
}

.id-pic-container {
  display: flex;
  justify-content: center;
}

.id-pic {
  height: 300px;  
  width: auto; 
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.tooltip-container {
  white-space: pre-line;
  position: relative;
  display: inline-block;
  cursor: url('./images/cursor.png'), auto;
}

.tooltip-text {
  width: 500px; 
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 2;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  font-family: 'Press Start 2P', cursive;
  cursor: url('./images/cursor.png'), auto;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
  cursor: url('./images/pointer.png') 15 7, pointer;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.horizontal-button-container{
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.gene {
  margin: 0;
  height: 30px;
  width: 100/26%; 
  cursor: url('./images/cursor.png'), auto; 

}

.genome {
  display: block;
  display: flex;
  flex-direction: row;
  list-Style-Type: '';
  /* padding-left: 0px;
  padding: 0px; 
  margin: 0px; 
  font-family: 'Press Start 2P', cursive;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0; */
}

.genomeRanking {
  /* list-Style-Type: ''; */
    list-Style-Type: '';
    position: relative;
    width: 100%;
    height: 100%;

}

.genomeRanking li {
  margin-bottom: 5px;
}



.player-button {
  margin: 10px;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  cursor: url('./images/pointer.png') 15 7, pointer;
}

.player-button.active {
  background-color: #007ad9;
  color: #ffffff;
  cursor: url('./images/pointer.png') 15 7, pointer;
}

.on-page-portrait {
  width: 100%; 
  height: 300px; 
}

.thumbnail {
  width: 50px; 
  height: 50px
  /* height: 300px;  */
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('./fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* hides spin buttons on text input, firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* hides spin buttons on text input, chrome edge safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.retro-fill {
  width: 420px; 
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
  text-align: center;
  cursor: url('./images/I-beam.png'), text; 
  
}

.retro-text {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.center-children {
  display: flex;
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */
}

.retro-button {
  
  background-color: black;
  border-color: white;
  color: white; 
  font-family: 'Press Start 2P';
  src: url('./fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  height: 50px;
  cursor: url('./images/pointer.png') 15 7, pointer;
}



p {
  font-family: 'Press Start 2P', cursive;
}

@keyframes flicker {
  0%   { opacity: 1; }
  50%  { opacity: 0.5; }
  100% { opacity: 1; }
}